*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainer{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url(../componnets/img/video_preview_h264.mp4);
    background-size: cover;
}