* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigation {
  list-style-type: none;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  background-image: url(../img/video_preview_h264.mp4);
  text-align: center;
  align-items: center;
}
#navigation :hover {
  color: red;
}

.name{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    background-image: url(../img/360_F_511741492_lmJMnJFAKIFF27WfFsaBYO5FgBWc1lJu.jpg);
    background-size: cover;
    
}