* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigation {
  list-style-type: none;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  background-image: url(../img/video_preview_h264.mp4);
  text-align: center;
  align-items: center;
}
#navigation :hover {
  color: red;
}
